body{
	background: #131313;
	margin: 0px;
	padding: 0px;
	max-width: 1440px;
	margin: auto;

}
nav{
	height: 83px;
	width: 100%;
	min-width: 1438px;
}
nav a{
	text-decoration: none;
font-family: 'Nunito Sans';
font-style: normal;
font-weight: 400;
font-size: 11px;
line-height: 15px;
color: #FFFFFF;
margin: 37px 3% 0px 0px ;

}
nav a:first-child{
text-transform: uppercase;
color: #E3B873;
padding: 37px 3% 0px 6%;
}
nav a:nth-child(2){
color: #E3B873;
margin-left: 3%;
}
nav a:nth-child(8){
text-align: right;
text-decoration-line: underline;
color: #E3B873;
margin-left:3%;
margin-right: 0;
}
nav button{
	border-color: #E3B873;
	margin: 24px 5% auto 3%;
	
}
h1{
	width: 520px;
	margin: 20px 0;
font-family: 'Yeseva One';
font-style: normal;
font-weight: 400;
font-size: 40px;
line-height: 53px;
text-transform: uppercase;
color: #FFFFFF;
}
h1 span{
	color:  #E3B873;
}
.lefttopblock{
width:50%;
max-width:719px ;
padding-top: 197px;
padding-left: 9%;
}

.righttopblock{
	width: auto;
}
.topblock{
	background: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7) ),url(../img/image4.3.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	width: 100%;

	height: 707px;
}
h1{
	font-family: 'Yeseva One';
font-style: normal;
font-weight: 400;
font-size: 40px;
line-height: 53px;
text-transform: uppercase;
color: #FFFFFF;
}
button{
	font-family: 'Nunito Sans';
font-style: normal;
font-weight: 400;
font-size: 13px;
line-height: 21px;
text-align: center;
text-transform: uppercase;
color: #FFFFFF;
background: #E3B873;
box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.3);
border-radius: 2px;
border: 1px solid #FFFFFF;
Width:207px ;

Height: 51px ;


}
.topblock h2{
	font-family: 'Nunito Sans';
font-style: normal;
font-weight: 400;
font-size: 22px;
line-height: 36px;
color: #FFFFFF;
width: 520px;
}
.calculate{
	border-color: #E3B873;
	font-family: 'Nunito Sans';
font-style: italic;
font-weight: 400;
font-size: 11px;
line-height: 15px;
text-align: center;
}
.application{
background: rgba(255, 255, 255, 0);
font-family: 'Nunito Sans';
font-style: italic;
font-weight: 400;
font-size: 11px;
line-height: 15px;
text-align: center;
box-shadow: none;
margin-left: 20px;
}
.completedprojects{
	width: 100%;
	height: 750px;
	

}
.completedprojects h2{
	font-family: 'Yeseva One';
font-style: normal;
font-weight: 400;
font-size: 27px;
line-height: 37px;
letter-spacing: -0.07em;
text-transform: uppercase;
color: #E3B873;
}
.onlysmall{
font-family: 'Nunito Sans';
font-style: normal;
font-weight: 400;
font-size: 13px;
line-height: 27px;
color: #FFFFFF;
}
.leftcomplete{
	padding-top: 170px;
	display: inline-block;
	width: 450px;
	margin: 0;
	padding-left:135px ;
	font-family: 'Nunito Sans';
font-style: normal;
font-weight: 400;
font-size: 13px;
line-height: 21px;

color: #FFFFFF;
}
.leftcomplete h3{
font-family: 'Yeseva One';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 25px;
text-transform: uppercase;
color: #E3B873;

}
.rightcomplete{
	width: 50%;
	display: inline-block;
}
.rightcomplete img{
	padding-top: 40px;
}
.rightcomplete a{
font-family: 'Yeseva One';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 19px;
text-transform: uppercase;
text-decoration: none;
color: rgba(255, 255, 255, 0.3);
padding-right: 60px;
}
.rightcomplete a:first-child{
font-family: 'Yeseva One';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 23px;
text-transform: uppercase;
color: #E3B873;
display: inline;
padding-bottom: 6px;
text-decoration: none;
  border-bottom: 1px solid;

	}
	.completecell{
		display: inline-block;
		width: 180px;
		padding-right: 30px;
		font-family: 'Nunito Sans';
font-style: normal;
font-weight: 400;
font-size: 13px;
line-height: 21px;

color: #FFFFFF;
	}
.arrows{
padding-top: 80px;
}
.arrows input{
padding-right: 13px ;
	}
.arrows svg{
	padding-left: 17px;
}
.rightarrow{
	padding-left: 30px;
}
.control{
width: 100%;
height: 600px;
background: linear-gradient(to top, white 50%, #131313 50%);
}
.control h3{
text-align: center;
font-family: 'Yeseva One';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 28px;
text-align: center;
text-transform: uppercase;
color: #FFFFFF;
}
.camera{
margin: 0 auto;
width: 110px; 
}
.camera img{
    vertical-align: middle 
}
.video{
	width: 817px;
	height: 434px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 30px;

}
.border{
	margin-left: auto;
	margin-right: auto;
	margin-top: 30px;
	width: 55px;
}
.callform{
width: 100%;
height: 570px;	
background: white;
}
.callform p{
	width: 681px;
	margin-top: 0;
	margin-left: auto;
	margin-right: auto;
	padding-top: 10px;
	font-family: 'Nunito Sans';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 37px;
text-align: center;
color: #363636;
}
.callform label{
	font-family: 'Nunito Sans';
font-style: normal;
font-weight: 400;
font-size: 13px;
line-height: 21px;
color: rgba(54, 54, 54, 0.5);
transform: rotate(-0.07deg);
}
.callinputs{
	width: 100%;
	height:51px;
	display: inline-block;
}
.inputcell{
display: block;
}
.pics{
	width: 100%;
	height: 910px;
}
.newrequest{
	width: 100%;
	height: 750px;
}
.fantasies{
	width: 100%;
	height: 1100px;
}